body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
}
